$textColor: #fff;
$secondaryTextColor: #000;
$buttonColor: rgb(0, 194, 0);

$blue1: rgba(89, 152, 168, 0.76);
$blue2: rgb(84, 179, 147);
$green1: rgb(84, 179, 120);
$green2: rgba(81, 228, 81, 0.726);
$green3: rgb(81, 228, 81);
